<!DOCTYPE html >
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rogue AP Detection</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <u1>
      <li>
        <a href="http://localhost:8080/home">主页</a>
      </li>
      <li>
        <a href="http://localhost:8080/mapDisplay">Wifi地图</a>
      </li>
      <li>
        <a href="http://localhost:8080/apFeatures">添加AP信息</a>
      </li>
      <li>
        <a href="http://localhost:8080/apFeaturesList">数据库WIFI信息</a>
      </li>
    </u1>	  
  </body>
</html> 